body {
  background-color: #f3f9fe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%; /* Tamaño base de la fuente para que 1rem sea 16px */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 3rem; /* 50px */
  margin-bottom: 1rem;
}
.title-underline {
  width: 3.75rem;
  height: 0.25rem;
  background: #66b5db;
  margin: 0 auto 1rem auto;
}

h2 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 0.3rem; /* 5px */
}

.img-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.qMarks {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background: #66b5db;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.qMarks p {
  font-size: 2.8rem;
  transform: translateY(10px);
  color: white;
  font-weight: 900;
  font-family: Arial, sans-serif;
}

.img-review {
  object-fit: cover;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 0;
  box-shadow: 8px -5px #66b5db;
}

.name {
  color: black;
}

.job {
  color: #66b5db;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.review-card {
  background-color: rgb(255, 255, 255);
  width: 90%;
  max-width: 37.5rem; /* 600px */
  margin: 2rem auto; /* 30px */
  padding: 1.875rem; /* 30px */
  border-radius: 0.625rem; /* 10px */
  text-align: center;
  color: #697a89;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.text {
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

/* Estilos para los botones del carrusel de tarjetas*/
.btn-carousel button {
  background: none;
  border: none;
  font-size: 1.5rem; /* 24px */
  color: #66b5db;
  cursor: pointer;
  margin: 0 0.625rem; /* 10px */
  padding: 0.3rem 0;
}

.btn-surprise {
  background-color: #afdcfa;
  color: #1b7fad;
  border: 1px solid #66b5db;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  margin-top: 0.9rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
